
<!-- <a class="btn" onclick="Materialize.toast('I am a toast', 4000)">Toast!</a>
 -->

	 <div class="parallax-container">
    <div class="parallax">
      <img src="/assets/maurel-img1.jpg">

      <!-- <iframe width="640" height="480" src="https://www.youtube.com/embed/LL-yRLLC2SE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
    </div>
    <span class="typing"></span>
  </div>
  
  <div class="section">
    <div class="row container" id="plax-header">
      <h2 class="header">Your guests have impeccable taste... Make them feel at home.</h2>
      <p class="grey-text text-darken-3 lighten-3">
        <span style="padding-left:5em;">MAUREL is the international leader in the design and production of hospitality uniforms.</span><br />
              <span style="padding-left:10em;">BASED in Milan, we use the latest in Italian fashion to create a curated look for your business.</span><br />
                    <span style="padding-left:15em;">ORIGINALITY, elegance and long-lasting quality of uniforms has always been our objective. </span> <br /> <br />
                          <span style="padding-left:0em;">Cordialmente,</span> <br />
                          <span style="padding-left:0em;">The Capritti Family </span>
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/assets/maurel-img3.jpg"></div>
  </div>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>