<h4 class="center" style="background-color:orange;margin-top:0;padding:1em;" >PLACE YOUR ORDER</h4>
<div class="container">
<%= render 'items', :order => current_order %>
<div class="center"><%= button_to "Place order" %></div>
</div>