
.parallax-container {
    height: 500px;
}

.typing {
	font-size: 3em;
	color: white;
	z-index: 1;
	float: left;
	// vertical-align: middle;
	padding-top: 8em;
	padding-left: 1em;
}

.header {
	font-size: 2em;
}

